Frontend/hamal_transport_app/macos/Flutter/GeneratedPluginRegistrant.swift
.vscode/

# Firebase service account keys
serviceAccountKey.json
realtime_db_url.txt

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env