# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/
.eggs/

# Virtual environments
.venv/
venv/
env/

# Caches & linters
.mypy_cache/
.ruff_cache/
.pytest_cache/

# Tests
api/tests/
scripts/

# Dev / CI files
pyproject.toml
mock_data.json

# Docker itself
Dockerfile
.dockerignore

# IDE / OS
.idea/
.vscode/
*.DS_Store
Thumbs.db
