# Backend Python dependencies for the FastAPI app
# Minimum recommended Python version: 3.11+

# API
fastapi
pydantic
uvicorn[standard]

# Enviroment and Config
python-dotenv
cachetools
firebase-admin

# Dev & CI
ruff
mypy
pytest
pytest-asyncio